# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, consumed by `go tool cover`
*.out

# Compiled executable
/server

# Dependency directories (only needed if you build with vendoring)
# /vendor/

# Local environment configuration
.env
.env.*
